<!-- src/app/app.component.html -->
<div class="container">
  <div class="header">
    <h1>Usuários</h1>
    <div>
      <nav>
        <ul>
          <li><a routerLink="/tarefas">Tarefas</a></li>
        </ul>
      </nav>
    </div>`
  </div>

  <div class="actions">
    <button class="btn-add-user" (click)="createConfirm()">Adicionar Usuário</button>
  </div>

  <table class="user-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Data de Criação</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.createdDate | date : "dd/MM/yyyy HH:mm" }}</td>
        <td class="actions">
          <button class="btn-edit" (click)="updateConfirm(user)">Editar</button>
          <button class="btn-remove" (click)="confirmDelete(user.id)">
            Remover
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
